body {
  background: #27b1be;
  font-family: "Noto Sans KR", sans-serif;
}

.weatherapp-wrapper {
  width: 775px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #ececec;
  background-color: #fbfbfc;
  box-shadow: 0px 8px 20px 5px rgba(122, 118, 118, 0.5);
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.searchbar {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 115px;
  width: 75%;
}

.searchButton {
  margin-top: -3px;
  margin-left: -10px;
  margin-bottom: 2px;
  background-color: #facc2e;
  text-align: center;
  border-radius: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #af933d;
  color: black;
  font-weight: 900px;
  font-size: 17px;
  padding: 8px 28px;
  transition: all 250ms ease;
  box-shadow: 0 10px 10px -5px rgb(197, 197, 197, 0.5);
}

.searchButton:hover {
  border-style: solid;
  border-color: #27b1be;
  border-width: 1px;
  background-color: white;
  color: #1a757e;
  font-weight: 800;
}

.tempDescription {
  text-align: left;
  margin-top: 10px;
  font-size: 30px;
}

.subcontainer {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
  padding-left: 20px;
}

.currentdata {
  margin-top: -10px;
}

.currenttemp {
  text-align: center;
  margin-right: -35px;
}

#tempNow {
  font-size: 65px;
}

.metric {
  text-align: left;
  padding-top: 18px;
}

#fahrenheit {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#celsius {
  text-decoration: none;
  font-size: 18px;
  color: grey;
}

#celsius:hover {
  font-weight: bold;
}
.currentemoji {
  font-size: 55px;
  text-align: center;
}

.currentcity {
  font-size: 50px;
  text-align: right;
  margin-left: 33px;
}

.currentdailytemprange {
  text-align: left;
  padding: 0px 35px;
  font-size: 18px;
}

.currentdatetime {
  text-align: right;
  padding-left: 100px;
  font-size: 18px;
  color: #ec3d67;
}

.subcurrentdata {
  margin-right: 0px;
  margin-left: 1px;
  margin-top: -3px;
}

.othercurrentdata {
  text-align: left;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 30px;
  padding-left: 10px;
}

.daysofweek {
  text-align: center;
  margin-top: -15px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.sun {
  margin: 10px 5px 55px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}

.sun:hover {
  background: #ececec;
}

.mon {
  margin: 10px 10px 10px 18px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}
.mon:hover {
  background: #ececec;
}

.tue {
  margin: 10px 10px 10px 18px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}
.tue:hover {
  background: #ececec;
}

.wed {
  margin: 10px 10px 10px 18px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}
.wed:hover {
  background: #ececec;
}

.thu {
  margin: 10px 10px 10px 18px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}
.thu:hover {
  background: #ececec;
}

.emoji {
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.weekday {
  margin-bottom: -1px;
  font-size: 18px;
  color: black;
}

.weektemp {
  margin-top: 3px;
}

.footer {
  margin: 0px 400px;
}

.author {
  display: block;
  margin: 0px auto;
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 14px;
}
.author:hover {
  color: rgb(0, 0, 0, 0.5);
}

#city {
  width: 600px;
  border-radius: 22px;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px;
  background: #f5f5f5;
}
