body {
  background: #27b1be;
  font-family: "Noto Sans KR", sans-serif;
}

.weatherapp-wrapper {
  width: 720px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #ececec;
  background-color: white;
  box-shadow: 0px 8px 20px 5px rgba(122, 118, 118, 0.5);
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.weatherapp {
  margin-top: 27px;
  padding-left: 60px;
  padding-right: 60px;
}

.searchbar {
  margin-top: 10px;
  margin-left: 115px;
  width: 75%;
}

.searchButton {
  margin-left: -10px;
  margin-bottom: 2px;
  background-color: #facc2e;
  text-align: center;
  border-radius: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #af933d;
  color: black;
  font-weight: 900px;
  font-size: 15px;
  padding: 6px 24px;
  transition: all 250ms ease;
  box-shadow: 0 10px 10px -5px rgb(197, 197, 197, 0.5);
}

.searchButton:hover {
  border-style: solid;
  border-color: #27b1be;
  border-width: 1px;
  background-color: white;
  color: #1a757e;
  font-weight: 500;
}

.cityheader {
  margin-top: 20px;
  font-size: 19px;
  color: black;
}

.currentDateTime {
  text-align: left;
  font-size: 14px;
  color: grey;
}

#currentIcon {
  text-align: left;
  padding-left: -100px;
  margin-top: -35px;
}

#tempNow {
  font-size: 65px;
  text-align: left;
  padding-left: -100px;
  line-height: -2;
}

.units {
  position: relative;
  font-size: 16px;
  color: black;
  text-decoration: none;
  top: -34px;
}

.units:hover {
  text-decoration: none;
  color: grey;
}

#degreeSeparater {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: black;
  top: -34px;
}

.active {
  text-decoration: none;
  color: #ec3d67;
}

.othercurrentdata {
  text-align: left;
  margin-top: 2px;
  font-size: 15px;
}

#currentcondition {
  margin-top: 17px;
  font-size: 19px;
  margin-bottom: -12px;
  font-weight: 500;
  color: #ec3d67;
  text-transform: capitalize;
}

ul {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 30px;
  padding-left: 0px;
  list-style-type: none;
}

#feels-like-unit {
  color: #ec3d67;
}

#feels-like-temp {
  color: #ec3d67;
}
#current-humidity {
  color: #ec3d67;
}

#current-wind-speed {
  color: #ec3d67;
}

.daysofweek {
  text-align: center;
  margin-top: 22px;
  padding-left: 15px;
}

.weekday {
  margin-bottom: -1px;
  font-size: 15px;
  color: black;
}

.icon {
  margin-left: -10px;
  display: block;
}

.weektemp {
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: -10px;
  font-size: 15px;
  color: #ec3d67;
  text-align: center;
}

.day {
  margin: 10px 20px 15px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(100, 166, 219, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(197, 197, 197, 0.5);
  padding: 5px 30px 5px 30px;
  transition: all 250ms ease;
}

.day:hover {
  background: #ececec;
}

.footer {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.author {
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 14px;
}
.author:hover {
  color: rgb(0, 0, 0, 0.5);
}
